@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Lexend;
}

body{
    background-color: #30323d;
    color: white;
}

button:hover{
    cursor: pointer;
}

.topBar{
    left: 0%;
    right: 100%;
    top: 0%;

    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.btnContainer{
    display: flex;
    gap: 5rem;
}

.barBtn{
    /* background-color: #fff97a; */
    background: none;
    color: white;

    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 1.5rem;
    border: none;

    padding: 10px;
    margin-right: 1rem;

}

#pageName{
    color: #fff97a;
    font-size: 2.1rem;
    font-weight: 700;
    font-style: italic;
    margin: 10px;
}

.cardContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.registerCard{
    background-color: #444650;

    width: 25%;
    height: 32rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;

    border-radius: 1rem;
    margin: 10px;

    color: #fff97a;
    font-size: 1.7rem;
    font-weight: bold;
}

input{
    background-color: #6f7078;
    padding: 5px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2.5rem;
    margin-left: 18px;
    border: none;
    border-radius: 1rem;

    width: 16rem;
    height:2rem;
}
#btn:hover{
    background-color: #beba65;
}
#btn{
    margin-right: 0;
    width: 10rem;
    height: 3rem;
    background-color: #fff97a;
    border-radius: 1rem;
    border: none;
}