@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Lexend;
}

body{
    background-color: #30323d;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: #beba65;
}


.topBar{
    left: 0%;
    right: 100%;
    top: 0%;

    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.btnContainer{
    display: flex;
    gap: 5rem;
}

.barBtn{
    /* background-color: #fff97a; */
    background: none;
    color: white;

    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 1.5rem;
    border: none;

    padding: 10px;
    margin-right: 1rem;

}

#pageName{
    color: #fff97a;
    font-size: 2.1rem;
    font-weight: 700;
    font-style: italic;
    margin: 10px;
}

.cardContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.searchPassenger{
    background-color: #444650;

    width: 100%;
    height: 7rem;

    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

    padding: 0.5rem;
    margin-bottom: 1rem;
}

.inputBox{
    width: 25rem;
    height: 3rem;
    border-radius: 0.7rem;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    background-color: #6f7078;
}
#search:hover{
    background-color: #beba65;
}
#search{
    height: 3.5rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #fff97a;
    border: none; 
}

.passengerInfoCard{
    background-color: #444650;
    width: 80%;
    height: 17.5rem;
    display: flex;
    border-radius: 2rem;
}
.imgWraper{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-left: 1rem;
}
#avatar{
    margin: 1rem;
    width:15rem;
    border-radius: 1rem;
}

.infoWraper{
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 3.5rem;
    color: #fff97a;
    margin-top: 1rem;
    margin: 0.5rem;
}


.bookingCard{
    background-color: #444650;
    width: 92%;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 10px;
}

.bookingDate{
    margin-top: 7px;
    margin-left: 15px;
    font-size: 1.5rem;
}

.connectionCard{
    background-color: #34353d;
    width: 98%;
    height: 8rem;
    display: flex;
    border-radius: 1rem;
    margin: 10px;
}

.opperatorContainer{
    width: 8rem;
    height: 7.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
}

.logo{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}
.cardData{
    width: 100%
}

.timeAndPrice{
    height: 3.75rem;
    display: flex;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 0px;
}

.time{
    width: 69rem;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 1rem;
}

.travelTime{
    /*background-color: #ffe792;*/
    color:#fff97a;
    padding-left: 18px;
    padding-right: 17px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 2rem;
    border-radius: 2.5rem;
}

.price{
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 2rem;
    color: #fff97a;
}

.inputAndBtn{
    display: flex;
    margin-right: 0;
}
.deleteBtn{
    height: 3.5rem;
    width: 68rem;
    border-radius: 1rem;
    background-color: #fff97a;
    border: none; 
}